img{
    width: 400px;
    height: 500px;
    margin: 0 150px 0 0;
}

.root {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.forca{
    display: flex;
    align-items: flex-start;
}

.escolher-palavra{
    background-color: green;
    font-weight: bold;
    color: white;
    border: 0;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    margin-top: 35px;
}

.teclado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 520px;
    margin: 45px 0 0 70px;
}

.teclado button{
    font-weight: bold;
    border-radius: 3px;
    margin: 5px 5px 0 0;
    width: 35px;
    height: 35px;
}

.disabled{
    background-color: rgb(114, 132, 163);
    color: rgb(99, 89, 89);
    border: 0;
}

.responder button, .enabled{
    background-color: rgb(212, 235, 248);
    border: 1px solid rgb(114, 133, 194);
    color: rgb(54, 87, 196);
}

.responder{
    margin: 30px 0 0 100px;
    font-size: 13px;
    
}

.responder text, input{
    margin-right: 10px;
}

.responder input{
    height: 20px;
    border: 2px solid rgb(206, 195, 195);
    border-radius: 4px;
    width: 250px;
}

.responder button{
    height: 30px;
    background-color: rgb(212, 235, 248);
    border: 1px solid rgb(114, 133, 194);
    border-radius: 5px;
    color: rgb(54, 87, 196);
    font-weight: bold;
    font-size: 12px;
    width: 55px;
}
